<div class="container-fluid bg-primary">
    <div class="container m-auto">
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
                <div class="col-3">
                    <div class="col-12">
                        <a class="navbar-brand fs-3 fw-bold text-white" href="#">Zelinopestana</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse col-9" id="navbarSupportedContent">
                <div class="col-7">
                    <div class="col-12 d-flex justify-content-center">
                        <form class="d-flex col-10" role="search">
                            <input class="form-control rounded-end-0" type="search" placeholder="Search" aria-label="Search">
                            <span class="bg-secondary p-2 px-3 rounded-end-3">
                                <a href="#">
                                    <i class="fa-solid fa-magnifying-glass text-white"></i>
                                </a>
                            </span>
                        </form>
                    </div>
                </div>
                <ul class="navbar-nav d-flex justify-content-end mb-2 mb-lg-0 col-5">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
               
              </div>
            </div>
          </nav>
    </div>
</div>
<!-- sub navbar -->
<div class="container-fluid bg-secondary">
    <div class="container">
        <div class="sub-navbar col-12">
            <div class="col-6 m-auto p-2 text-center d-flex justify-content-evenly">
                <div class="text">
                    <div class="col-12">
                        <a class="text-white text-decoration-none" href="#">All</a>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <a class="text-white text-decoration-none" href="#">Paddicure</a>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <a class="text-white text-decoration-none" href="#">Misaj</a>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <a class="text-white text-decoration-none" href="#">Tour</a>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <a class="text-white text-decoration-none" href="#">Trip</a>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>