<div class="container-fluid py-5 bg-body-tertiary">
  <div class="container m-auto py-5">
    <div class="content">
      <div class="col-12 p-5 shadow bg-white rounded-5">
        <!-- top -->
        <div class="top">
          <div class="col-12 d-flex">
            <!-- left img -->
            <div class="col-7">
              <div class="col-12">
                <img class="h-350 w-100 rounded-5 object-fit-cover" src="/images/slider1.jpg" alt="" />
              </div>
            </div>
            <!-- right content -->
            <div class="content col-5 ps-4 d-flex align-items-center">
              <div class="col-12">
                <div class="head pb-3">
                  <div class="col-12">
                    <h3 class="m-0 fw-bold fs-4">
                      Skip to the beginning of the images gallery A 3-Course
                      Gourmet Dining Experience for 2 People at Jack @ SKYE
                      Rooftop Bar!
                    </h3>
                  </div>
                </div>
                <div class="price pb-3">
                  <div class="col-12">
                    <p class="m-0">Price: <span class="fw-bold">$15</span></p>
                  </div>
                </div>
                <!-- qty + add to cart -->
                <div class="col-12">
                  <div class="d-flex">
                    <div class="btn bg-sky rounded me-3">
                      <div class="col-12 text-white">
                       -<span class=" px-2"> 2 </span>+
                      </div>
                    </div>
                    <div class="add-cart">
                      <div class="col-12">
                        <a href="#" class="btn bg-sky text-white me-3">Add To Wish List</a>
                      </div>
                    </div>
                    <div class="add-cart">
                        <div class="col-12">
                          <a href="#" class="btn bg-sky text-white">Add To Cart</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- bottom -->
        <div class="bottom pt-5">
            <div class="col-12">
                <div class="head pb-4">
                    <div class="col-12">
                        <h3 class="m-0 fw-bold text-secondary">Details</h3>
                    </div>
                </div>
                <!-- content -->
                <div class="content">
                    <div class="col-12">
                        The details will come dynamically
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
