<!-- hero section slider -->
<div id="carouselExampleFade" class="carousel slide slider-sec carousel-fade h-400">
    <div class="carousel-inner h-100">
      <div class="carousel-item h-100 active">
        <img src="/images/slider1.jpg" class="d-block w-100 h-100" alt="/images/hero-image.jpg">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
      </div>
      <div class="carousel-item h-100">
        <img src="/images/slider2.jpg" class="d-block w-100 h-100" alt="/images/hero-image.jpg">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
      </div>
      <div class="carousel-item h-100">
        <img src="/images/slider3.jpg" class="d-block w-100 h-100" alt="/images/hero-image.jpg">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!-- section 1 -->
<div class="container-fluid py-5">
    <div class="container py-5 m-auto">
        <div class="head pb-5">
            <div class="col-12">
                <h3 class="m-0 fw-bold fs-42 text-center text-secondary">Popular Items</h3>
            </div>
        </div>
        <div class="content">
            <div class="col-12 d-flex flex-lg-row flex-column flex-wrap">
                <!-- box -->
                <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box col-lg-4 col-sm-8 col-12 py-3 m-auto">
                    <div class="col-lg-11 col-12">
                        <div class="img">
                            <div class="col-12">
                                <img class="w-100 rounded-top-5 h-250 object-fit-cover" src="/images/slider1.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="content bg-secondary p-4 rounded-40 position-relative b-40">
                            <div class="col-12">
                                <div class="head pb-3">
                                    <h3 class="m-0 text-white fs-3">Swimming pool</h3>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                        <p class="m-0 text-white">THis os a para where item information is listed</p>
                                        <span class="fw-bold text-white">R444</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>